.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-list {
  width: 500px;
  background-color: white;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
