.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.875rem;
  font-size: 0.75rem;
  background-color: #00ad28;
  border: none;
  transition: all 0.3s;
  color: white;

  &:hover {
    background-color: #029725;
    transform: scale(0.95);
  }
}