.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding-top: 200px;
}

.form {
  display: flex;
}

.label {
  display: flex;
}

.todo__button {
  margin-left: 8px;
}

.todo__input {
  margin-left: 8px;
  height: 24px;
}

.todo__title {
  display: flex;
  align-items: center;
}